---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="flex flex-col justify-between">
  <h2 class="text-center text-secondary lg:text-4xl text-lg font-bold pb-4">
    {blok.name}
  </h2>
  <div>
    {
      blok.foto?.filename && (
        <img src={blok.foto.filename + "/m/500x0/filters:format(webp)"} />
      )
    }
    {
      blok.CTA?.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</div>
