---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <div class="container grid md:grid-cols-3 sm:grid-cols-1 md:gap-8 gap-4">
    {
      blok.columns?.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</div>
