---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { Image } from "@unpic/astro";
import Richtext from "../components/Richtext.astro";
import { HeroStageStoryblok } from "../generated/component-types-sb";
interface Props {
  blok: HeroStageStoryblok;
}

const { blok } = Astro.props;
---

<section class="bg-petrol relative" {...storyblokEditable(blok)}>
  <div class="min-h-[300px] max-w-screen-xl mx-auto">
    <div class="inset-0 absolute brightness-50 overflow-hidden">
      <Image
        src={blok.foto.filename}
        layout="fullWidth"
        alt=""
        priority
        background="auto"
        class="w-full h-full"
      />
    </div>
    <div class="z-0 container py-24 h-full relative">
      <Richtext richtext={blok.richtext} theme="dark" />
      <div>
        {
          blok.inhalt?.map((blok) => {
            return <StoryblokComponent blok={blok} />;
          })
        }
      </div>
    </div>
  </div>
</section>
