---
import { storyblokEditable } from "@storyblok/astro";
import Icon from "../components/Icon.astro";
import { IconLinkStoryblok } from "../generated/component-types-sb";
interface Props {
  blok: IconLinkStoryblok;
}
const { blok } = Astro.props;
console.log({ icon: blok.icon.filename });
---

<a
  {...storyblokEditable(blok)}
  href={blok.link.cached_url}
  target={blok.link.target}
  rel={blok.link.target ? "noopener noreferrer" : undefined}
>
  <Icon filename={blok.icon.filename} />
</a>
