---
import { Highchart2 } from "../components/charts/HighChart2";
import { Highchart3 } from "../components/charts/HighChart3";
---

<section class="container max-w-screen-xl">
  <h2 class="text-xl">Highcharts</h2>
  <div class="flex gap-8">
    <Highchart2 client:idle />
    <Highchart3 client:idle />
  </div>
</section>
