---
import { Highchart2 } from "../components/charts/HighChart2";
import { Highchart3 } from "../components/charts/HighChart3";

import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="container max-w-screen-xl">
  <div class="flex flex-col lg:flex-row gap-8">
    <div class="lg:w-1/2 aspect-square">
      <Highchart2 client:idle />
    </div>
    <div class="lg:w-1/2 aspect-square">
      <Highchart3 client:idle />
    </div>
  </div>
</section>
