---
import { Highchart2 } from "../components/charts/HighChart2";
import { Highchart3 } from "../components/charts/HighChart3";

import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="container max-w-screen-xl">
  <h2 class="text-xl">Highcharts</h2>
  <div class="flex flex-col lg:flex-row gap-8">
    <Highchart2 client:load />
    <Highchart3 client:load />
  </div>
</section>
