---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <h2 class="text-center text-7xl font-bold text-petrol py-12">
    {blok.headline}
  </h2>
  <h3 class="text-center text-2xl font-bold text-petrol py-12">
    {blok.subline}
  </h3>
</div>
